@use "../../components-core/theming/themes" as t;

.inputLabel {
  cursor: pointer;
  color: t.$textColor-subtitle;
  padding-bottom: t.$space-1;

  &.disabled {
    cursor: not-allowed;
    color: t.$textColor--disabled;
  }
}

.required {
  color: t.$textColor-InputLabel-required;
}
