@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$component: "Badge";
$themeVars: t.composeBorderVars($themeVars, $component);
$themeVars: t.composePaddingVars($themeVars, $component);
$themeVars: t.composeTextVars($themeVars, $component);
$themeVars: t.composeBorderVars($themeVars, "#{$component}-pill");
$themeVars: t.composePaddingVars($themeVars, "#{$component}-pill");
$themeVars: t.composeTextVars($themeVars, "#{$component}-pill");

.badge {
  @include t.paddingVars($themeVars, $component);
  @include t.borderVars($themeVars, $component);
  @include t.textVars($themeVars, $component);
  display: inline-block;
  width: fit-content;
  vertical-align: top;
  min-width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.pill {
  @include t.paddingVars($themeVars, "#{$component}-pill");
  @include t.borderVars($themeVars, "#{$component}-pill");
  @include t.textVars($themeVars, "#{$component}-pill");
  display: inline-block;
  width: fit-content;
  vertical-align: top;
  min-width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 9999px;
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
