# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Build output
bin/   # Development builds (Make)
bin/**
dist/  # Distribution builds (GoReleaser)
dist/**

# Editor/IDE
# .idea/
# .vscode/


# This should be committed for XMLUI projects, but NOT for the this CLI repo,
# as doing so could modify behavior while we are developing and debugging.
/.xmlui
/.xmlui/**

# Don't commit log or analytics files
*.log
*analytics.json
.DS_Store
