@use "../../components-core/theming/themes" as t;

$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

.base {
  display: inline-block;
  vertical-align: text-bottom;
  color: inherit;
  width: t.useVar(var(--icon-width), createThemeVar("size-Icon"));
  height: t.useVar(var(--icon-height), createThemeVar("size-Icon"));
  
  // NOTE: browser compat problems with "revert-layer"
  // NOTE #2: this solution is necessary because of the default stroke widths applied to our icons coming from react-icons:
  // Different icons have different default stroke widths.
  stroke-width: t.useVar(createThemeVar("thickness-stroke-Icon"), revert-layer);
  
  * {
    color: inherit !important;
  }
}

:export {
  themeVars: t.json-stringify($themeVars);
}
