@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$backgroundColor-dropdown-NavGroup: createThemeVar("backgroundColor-dropdown-NavGroup");
$boxShadow-dropdown-NavGroup: createThemeVar("boxShadow-dropdown-NavGroup");
$borderRadius-dropdown-NavGroup: createThemeVar("borderRadius-dropdown-NavGroup");

.dropdownList {
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  position: absolute;
  overflow-y: hidden;
  background: $backgroundColor-dropdown-NavGroup;
  list-style: none;
  height: fit-content;
  transition: height 0.2s ease;
  box-shadow: $boxShadow-dropdown-NavGroup;
  min-width: 11rem;
  border-radius: $borderRadius-dropdown-NavGroup;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

// --- We export the theme variables to add them to the component renderer
:export {
  themeVars: t.json-stringify($themeVars);
}
