@use "../../components-core/theming/themes" as t;

// --- This code snippet is required to collect the theme variables used in this module
$component: "NavPanel";
$themeVars: ();
@function createThemeVar($componentVariable) {
  $themeVars: t.appendThemeVar($themeVars, $componentVariable) !global;
  @return t.getThemeVar($themeVars, $componentVariable);
}

$themeVars: t.composeBorderVars($themeVars, $component);
$backgroundColor-NavPanel: createThemeVar("backgroundColor-#{$component}");
$boxShadow-NavPanel: createThemeVar("boxShadow-#{$component}");
$height-NavPanel: createThemeVar("height-AppHeader");
$maxWidth-content-NavPanel: createThemeVar("maxWidth-content-App");
$themeVars: t.composePaddingVars($themeVars, $component);
$themeVars: t.composePaddingVars($themeVars, "logo-#{$component}");
$marginBottom-logo-NavPanel: createThemeVar("marginBottom-logo-#{$component}");
$paddingVertical-AppHeader: createThemeVar("paddingVertical-AppHeader");
$align-content-AppHeader: createThemeVar("align-content-AppHeader");

.wrapper {
  --footer-height: 0;     //temp solution, it's because of callbackDrive, settings stickyBox to the bottom (we'll have to introduce a smarter stickyBox)
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  box-shadow: $boxShadow-NavPanel;
  @include t.paddingVars($themeVars, $component);
  @include t.borderVars($themeVars, $component);

  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;

  &:not(.condensed){
    background-color: $backgroundColor-NavPanel;
  }

  &.horizontal{
    box-shadow: none;
    height: $height-NavPanel;

    &:not(.condensed){
      .wrapperInner{
        padding-inline: createThemeVar("paddingHorizontal-#{$component}");
        justify-content: $align-content-AppHeader;
      }
    }
    .wrapperInner{
      height: 100%;
      flex-direction: row;
      max-width: $maxWidth-content-NavPanel;
      //align-items: center;
      width: 100%;
      margin: 0 auto;
      justify-content: $align-content-AppHeader;
    }
  }
}

.wrapperInner{
  display: flex;
  flex-direction: column;
  justify-content: $align-content-AppHeader;
}


.logoWrapper{
  &:not(:empty){
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    height: $height-NavPanel;
    padding-top: calc(#{createThemeVar("paddingVertical-logo-#{$component}")} + #{$paddingVertical-AppHeader});
    padding-bottom: calc(#{createThemeVar("paddingVertical-logo-#{$component}")} + #{$paddingVertical-AppHeader});
    padding-inline: createThemeVar("paddingHorizontal-logo-#{$component}");
    margin-bottom: $marginBottom-logo-NavPanel;
  }

  &.inDrawer{     //to make room for the close button
    min-height: 40px;
  }
}

// --- We export the theme variables to add them to the component renderer
:export{
  themeVars: t.json-stringify($themeVars)
}